body {
  background: url(../images/bg.jpg) no-repeat;
  background-size: 100%;
}

@media screen and (max-width:980px) {
  body {
    background-size: 100% 100%;
  }
}

.content {
  width: 350px;
  height: 400px;
  margin: 200px auto;
  background: #cfe0e7;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888888;
}

.content .content_Title {
  font-size: 25px;
  font-family: "微软雅黑";
  padding: 25px 0;
}

.content .content_info {
  padding-top: 10px;
}

.content .content_info input {
  height: 50px;
}